networks:
  {{ docker_network_name }}:
    external: true

services:
  tick_recorder:
    build:
      context: "{{ tick_recorder_build_context }}"
      dockerfile: Dockerfile
    container_name: tick_recorder
    restart: unless-stopped
    networks:
      - "{{ docker_network_name }}"
    env_file:
      - ".env"
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "3"
